html {
  background: rgb(245,245,245);
  background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(250,250,250,1) 100%);
}

.App {
  height: 100vh;
  width: 100%;
}

.drum-machine {
  border: 2px solid black;
  width: 90%;
  max-width: 1000px;
  margin: 5vh auto;
  padding: 5% 0 0;
  border-radius: 3px;
  background: #f0f0f0;
}

/* CONTROLS */
.controls {
  width: 50%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control-button {
  width: 60px;
  height: 40px;
  border-radius: 2px;
  background: #2af;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  margin: 0 10%;
}

.control-button:hover {
  cursor: pointer;
}


.bpm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.bpm p {
  margin: 0;
  font-weight: bold;
  color: #07f;
}

.bpm-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bpm-control input {
  width: 40%;
  height: 20px;
  margin: 2% 5%;
  border-radius: 3px;
}

.bpm-control button {
  background: #2af;
  color: #fff;
  font-size: 1em;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: none;
  padding: 0 0 10%;
}


/* DRUM TRACK */

.track-name {
  width: 8%;
  height: 30px;
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.drum-track, .step-nums {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  width: 90%;
}

.step-nums {
  margin: 0 auto;
}

.drum-track p {
  margin: 0;
}

.step, .num {
  margin: 1px;
  width: 5%;
  max-width: 30px;
  height: 30px;
  border-radius: 2px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num {
  color: #555;
  border: 2px solid transparent;
}

.one {
  background: #FED735;
  border: 2px solid #FED735;
}

.two {
  background: #FEC539;
  border: 2px solid #FEC539;
}

.three {
  background: #FEB23E;
  border: 2px solid #FEB23E;
}

.four {
  background: #FFA043;
  border: 2px solid #FFA043;
}

.five {
  background: #FF8D47;
  border: 2px solid #FF8D47;
}

.six {
  background: #FF7A4C;
  border: 2px solid #FF7A4C;
}

.seven {
  background: #FF6850;
  border: 2px solid #FF6850;
}

.step:hover {
  cursor: pointer;
}

.active {
  background: transparent;
  color: #888;
}

.footer {
  padding: 4% 1% 1%;
}

.footer a {
  font-weight: 500;
  color: #07f;
  text-decoration: none;
}
